@import url(./variaveis.css);
.bg-dark {
  background-color: var(--dark);
  color: var(--bgSite);
  text-align: center;
  padding: 2rem 0;
}

.container {
  width: min(80vw, 1440px);
  margin: 0 auto;
}

main h2 {
  text-align: center;
  margin: 2rem 0;
  color: var(--text);
}

.bg-img {
  min-height: 500px;
  background-image: url(../img/wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  display: flex;
  align-items: center;
}
.bg-img::before {
  content: " ";
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: #000;
}

.bg-img .texts {
  color: var(--white);
  position: relative;
}
.texts h1 {
  font-size: 3rem;
  margin-bottom: 19px;
}
.text-content {
  line-height: 35.31px;
  font-size: 1.8rem;
  max-width: 460px;
}

.destaque {
  margin-top: 5rem;
}
.destaque .texto-destaque {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: var(--text);
}
.destaque .text-content {
  max-width: 100%;

  text-align: center;
  margin-bottom: 5rem;
  color: var(--text);
}

.galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  margin-bottom: 10rem;
}
.cards {
  background-color: var(--bgCard);
  height: 302px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 76px 26px;
  transition: all 0.2s ease-in-out;
}
.cards img {
  width: 100%;
}
.cards:hover {
  transform: scale(1.03);
}
.cards .fugure-cards {
  text-align: center;
}

